html, body, .container {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 8fr;
}

.header {
    background-color: burlywood;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header h1 {
    grid-column: 2/3;
}

.book-input {
    background-color: rgb(230, 227, 227);
    display: flex;
    flex-wrap: wrap;
    padding: 20px 50px 20px 50px;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.input-section {
    display: flex;
    flex-direction: column;
}

button {
    height: 30px;
}

.content {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}


table th,td {
 border-bottom: 1px solid #d8d7d7;  
 padding: 12px 30px;
 text-align: left;
}

th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


 